/* Your CSS code here. */
header {
    background-color: #e5e5e5;
    padding: 20px;
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
}

main {
    background-color: #f5f5f5;
    padding: 20px;
}

aside {
    background-color: lightgray;
    padding: 20px;
}

footer {
    background-color: #e5e5e5;
    padding: 20px;
}